:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  background: #000000;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

#connection-status {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 4px;
}
